<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="daylight(1)">Morning</div>
    <div class="box col-md-3 col-md-offset-1"  onclick="daylight(2)">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1"  onclick="daylight(3)">Evening</div>
  </div>
</div>